*{
  outline: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo-and-links {
  background: rgb(255, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  margin-right: 5em;
}

.nav-buttons{
  display: flex;
  justify-content: space-between;
}

.nav-button {
  background: rgb(196, 196, 196);
  border-radius: 1em;
  border: none;
  margin: .1em;
  color: rgb(20, 20, 20);

  width: 1.6em;
  height: 1.6em;
  font-size: 1.5em;
}
